<h1>Welcome to Sound Collections</h1>

<p>
  <%= Time.now %>
</p>

<h2>Log In</h2>
<form action="" method="">
  <input type="hidden" value="" name="">
  <%# <label>Username</label> %>
  <input type="text" name="" placeholder="Username">
  <%# <label>Password</label> %>
  <input type="text" name="" placeholder="Password">
  <input type="submit" value="Login">
</form>